body{
	margin:0px;
    background:-moz-linear-gradient(#686ec2, #a9a9ff, #a9a9ff);
    background:linear-gradient(#686ec2, #a9a9ff, #a9a9ff);
	font-family:"Microsoft YaHei";
	font-size:16px;
	min-height:720px;
}
p{
	margin:2px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
a:link{
	color:#000000;
	text-decoration:none;
}
a:visited{
	color:#888888;
	text-decoration:none;
}
a:hover{
	color:#000000;
	text-decoration:underline;
}
input[type="button"]
{
	background-color:#f0ecfa;
}
.clear{
	clear:both;
}
#container{
	width:1000px;
	margin:0px auto;
	background-color:#a9a9ff;
	padding-bottom:20px
}
#header{
	height:51px;
	line-height:51px;
	text-align:center;
	background-color:#f8f8f8;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#bbbbbb;
}
.section{
	width:960px;
	min-height:100px;
	margin:19px;
	padding-bottom:30px;
	background-color:#ffffff;
	border-style:solid;
	border-width:1px;
	border-color:#bbbbbb;
	border-radius:6px;
}
#user_img{
	height:100px;
	width:100px;
	float:left;
	margin:30px 0 0 30px;
}
#user_name{
	width:790px;
	float:left;
	margin:30px 0 0 30px;
	font-size:18px;
}
#user_intro{
	float:left;
	margin:20px 0 0 30px;
	font-size:14px;
	
}
.section_header{
	height:50px;
	padding-left:20px;
	line-height:50px;
	font-size:17px;
	background-color:#f0ecfa;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#bbbbbb;
	border-radius:6px 6px 0 0;
	font-weight:bold;
}
.base_input{
	height:30px;
	width:200px;
}
.base_textarea{
	height:100px;
	width:700px;
}

.single_btn{
	margin:30px 0 0 30px;
}
.long_input{
	width:700px;
}
.mid_input{
	height:30px;
	width:300px;
}
.list{
	width:960px;
	margin:30px 0;
	min-height:200px;
	font-size:14px;
}
.item{
	width:960px;
	margin-top:15px;
	line-height:34px;
}
.item_name{
	width:130px;
	float:left;
	margin-left:30px;
}
.item_intro{
	width:400px;
	float:left;
	margin-left:20px;
}
.item_note{
	width:100px;
	float:left;
	margin-left:20px;
}
.item_img{
	height:70px;
	width:90px;
	float:left;
	margin-left:10px;
}
.item_btn{
	float:right;
	margin-right:20px;
}
.item_sbtn{
	float:right;
	margin-right:90px;
}
.pages{
	width:960px;
	text-align:center;
}
.page_btn{
	margin:0 30px;
}
.line{
	font-size:15px;
	margin-top:20px;
	line-height:34px;
}
.line_member{
	float:left;
	margin-left:30px;
	max-width:800px;
}
.line_prompt{
	width:200px;
}
.line_note{
	float:left;
	margin:0 40px 0 10px;
}
.subline{
	height:43px;
}
.subline_prompt{
	float:left;
	display:-moz-inline-box;
	display:inline-block;
	width:100px;
}
.subline_file{
	float:left;
	min-width:200px;
}
.homepage_intro{
	float:left;
	margin-left:30px;
	padding-top:30px;
	min-height:200px;
	width:600px;
}
.log_part{
	width:600px;
	min-height:100px;
	margin:50px auto;
	padding:30px 0px 30px 0px;
	background-color:#ffffff;
	border-style:solid;
	border-width:1px;
	border-color:#bbbbbb;
	border-radius:6px;
	text-align:center;
}
.log_prompt{
	float:left;
	display:-moz-inline-box;
	display:inline-block;
	width:100px;
	margin-left:140px;
}
.hp_item{
	width:960px;
	height:85px;
	line-height:34px;
	padding-top:25px;
	border-top-style:solid;
	border-width:1px;
	border-color:#bbbbbb;
}
.hp_item_intro{
	width:550px;
	float:left;
	margin-left:20px;
	font-size:14px;
}
.hp_carousel{
	width:960px;
	margin:19px;
	padding:0;
	background-color:#ffffff;
}
.hp_img{
	width:960px;
	height:500px;
}
.hp_2Dcode{
	float:right;
	width:180px;
	height:180px;
	margin:40px 40px -20px 0;
}
.hp_headimg{
	width:35px;
	height:35px;
	float:left;
	margin:8px 0 0 10px;
}
.search_block{
	float:left;
	width:280px;
	height:280px;
	margin:30px 0 0 30px;
	border-style:solid;
	border-width:1px;
	border-color:#bbbbbb;
	border-radius:3px;
}
.search_img{
	width:278px;
	height:180px;
}
.search_name{
	width:280px;
	float:left;
	margin-left:5px;
}
.search_intro{
	width:270px;
	float:left;
	margin-left:10px;
	font-size:14px;
}
.modal_line{
	height:40px;
	padding-top:10px;
	margin-bottom:10px;
}
.modal_section{
	width:700px;
}
.modal_item{
    width:450px;
    float:left;
    margin:0 30px 0;
	text-align:left;
}
.nomargin{
	margin:0;
}
.warning_log{
	width:500px;
	margin:0 0 0 50px;
}
.warning{
	float:left;
	min-width:400px;
	margin:10px 0 -12px 30px;
}